:root {
	--primary-bg: #ffffff;
	--secondary-bg: #eeee60;
	--primary-text: #030c01;
	--primary-button: linear-gradient(102deg, #e8e81c 0%, #42ed13 100%);
	--primary-button-active: #4e544d;
	--borders: rgba(3, 12, 1, 0.15);
	--pagination-button-hover-bg: #d9fbcf;
	--pagination-button-active-bg: #7af259;
	--modal-bg: rgba(0, 0, 0, 0.25);
	--input-placeholder: rgba(3, 12, 1, 0.6);
	--notification-bg: #ffe0e0;
	--notification-border: #e74c3c;
	--notification-success-bg: #d8f3dc;
	--notification-success-border: #95d5b2;

	--small: 14px;
	--regular: 16px;
	--medium: 18px;
	--large: 20px;
	--heading: 34px;
	--secondary-heading: 32px;
	--heading-desktop: 48px;
	--hero-title: 36px;
	--hero-title-desktop: 56px;
}
